@import "tailwindcss";

@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "black";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(0% 0 0);
  --color-base-200: oklch(19% 0 0);
  --color-base-300: oklch(22% 0 0);
  --color-base-content: oklch(87.609% 0 0);
  --color-primary: oklch(35% 0 0);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(70% 0 0);
  --color-secondary-content: oklch(14% 0.004 49.25);
  --color-accent: oklch(98% 0.001 106.423);
  --color-accent-content: oklch(14% 0.004 49.25);
  --color-neutral: oklch(35% 0 0);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(45.201% 0.313 264.052);
  --color-info-content: oklch(89.04% 0.062 264.052);
  --color-success: oklch(51.975% 0.176 142.495);
  --color-success-content: oklch(90.395% 0.035 142.495);
  --color-warning: oklch(96.798% 0.211 109.769);
  --color-warning-content: oklch(19.359% 0.042 109.769);
  --color-error: oklch(62.795% 0.257 29.233);
  --color-error-content: oklch(12.559% 0.051 29.233);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

.gradient-text {
  background: linear-gradient(
    to right,
    #ffffff,
    #666666
  ); /* Customize colors */
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.sexybutton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: #ffffff 1px solid;
  font-family: Montserrat;
  color: #ffffff;
  height: 40px;
  width: 250px;
  cursor: pointer;
  transition: 300ms ease-in-out;
}
.sexybutton:hover {
  background-color: #ffffff;
  color: black;
}

.floating-icon {
  animation: float 2s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.scaleicon {
  animation: scale 2s ease-in-out infinite;
}

.animated-gradient-text {
  position: relative;
  margin: 0 auto;
  display: flex;
  max-width: fit-content;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 1.25rem;
  /* 20px */
  font-weight: 500;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  transition: box-shadow 0.5s ease-out;
  overflow: hidden;
  cursor: pointer;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: 300% 100%;
  animation: gradient linear infinite;
  border-radius: inherit;
  z-index: 0;
  pointer-events: none;
}

.gradient-overlay::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-radius: inherit;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #060010;
  z-index: -1;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.text-content {
  display: inline-block;
  position: relative;
  z-index: 2;
  background-size: 300% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradient linear infinite;
  font-family: Krona One;
}
.particles-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -50;
}
